{% extends 'shopping/base.html' %}

{% block main_area %}
            <h1>{% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}</h1>
            <!-- Section-->
            <div>
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                        {% for p in product_list %}
                        <div class="col mb-5" id="post-{{p.pk}}">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{p.product_image.url}}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    {% if p.category %}
                                        <span class="badge badge-secondary float-right">{{ p.category }}</span>
                                    {% else %}
                                        <span class="badge badge-secondary float-right">미분류</span>
                                    {% endif %}
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <div class="small">{{p.maker}}</div>
                                        <h5 class="fw-bolder">{{p.name}}</h5>
                                        <!-- Product price-->
                                        <h6>{{p.price}}원</h6>
                                        <h6 class="text-muted">{{p.color}}</h6>
                                        <div class="small">{{p.hook_text}}</div>
                                    </div>
                                    <br>
                                    {% if p.tags.exists %}
                                        <i class="fas fa-tags"></i>
                                        {% for tag in p.tags.iterator %}
                                            <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag}}</span></a>
                                        {% endfor %}
                                        <br/>
                                        <br/>
                                    {% endif %}
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ p.get_absolute_url }}">View Details</a></div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="small text-muted">Made At {{ p.made_at | date:"Y-m-d"}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


<!-- Pagination-->
                <ul class="pagination justify-content-center my-4">
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">&larr; Newer</a>
                        </li>
                        <li>
                            <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1" aria-disabled="true">Older &rarr;</a>
                        </li>
                </ul>
{% endblock %}