{% extends 'shopping/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{product.name}} - ShoppingMall
{% endblock %}

{% block main_area %}
<!-- Product section-->
        <div class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.product_image.url}}" alt="..." /></div>
                    <div class="col-md-6">
                        {% if product.category %}
                            <h2><span class="badge badge-light float-left">{{ product.category }}</span></h2>
                        {% else %}
                            <h3><span class="badge badge-light float-left">미분류</span></h3>
                        {% endif %}
                        <br/><br/>
                        <h3>{{product.name}}</h3>
                        <div class="fs-5 mb-5">
                            <h6><i class="fas fa-won-sign"></i>{{product.price}} &nbsp;&nbsp;&nbsp;<i class="fas fa-palette"></i>{{product.color}}</h6>
                        </div>
                        <p class="lead">{{ product.get_content_markdown | safe }}</p>
                        {% if product.tags.exists %}
                            <i class="fas fa-tags"></i>
                            {% for tag in product.tags.iterator %}
                                <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag}}</span></a>
                            {% endfor %}
                            <br/>
                            <br/>
                        {% endif %}
                        <div class="text-muted">Made At {{ product.made_at | date:"Y-m-d"}}</div>
                        <div class="text-muted">Posted by {{product.author}}</div>
                        {% if user.is_authenticated and user == product.author %}
                            <a class="btn btn-info btn-sm float-right" href="/shopping/update_product/{{product.pk}}/" role="button">
                                <i class="fas fa-pen"></i>  Edit Post
                            </a>
                        {% endif %}
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related items section-->
        <div class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">New products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for p in related_product %}

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{p.product_image.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="badge badge-light">{{p.maker}}</div>
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h6 class="fw-bolder">{{p.name}}</h6>
                                    <!-- Product price-->
                                    <i class="fas fa-won-sign"></i>{{p.price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark btn-sm mt-auto" href="{{p.get_absolute_url}}">View Details</a></div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>

<div id="comment-area">
        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {% if user.is_authenticated %}
                <form class="mb-4" id="comment-form" method="POST" action="{{product.get_absolute_url}}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
                {% else %}
                    <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#"
                       data-toggle="modal" data-target="#loginModal">Log In and leave a comment</a>
                {% endif %}
            </div>
        </div>
        {% if product.comment_set.exists %}
            {% for comment in product.comment_set.iterator %}
                <!-- Single Comment -->
                <div class="media mb-4" id="comment-{{ comment.pk }}">
                    <img class="d-flex mr-3 rounded-circle" src="{{comment.get_avatar_url}}" alt="{{comment.author}}" width="60px">
                    <div class="media-body">
                        {% if user.is_authenticated and comment.author == user %}
                            <div class="float-right">
                                <a role="button"
                                   class="btn btn-sm btn-info"
                                   id="comment-{{ comment.pk }}-update-btn"
                                   href="/shopping/update_comment/{{ comment.pk }}/">
                                    edit
                                </a>
                                <a role="button"
                                   href="#"
                                   id="comment-{{ comment.pk }}-delete-modal-btn"
                                   class="btn btn-sm btn-danger"
                                   data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">
                                    delete
                                </a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <del>{{ comment | linebreaks }}</del>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a role="button" class="btn btn-danger" href="/shopping/delete_comment/{{ comment.pk }}/">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <h5 class="mt-0">
                            {{ comment.author.username }}
                            &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                        </h5>
                        <p>{{ comment.content | linebreaks }}</p>
                        {% if comment.created_at != comment.modified_at %}
                            <p class="text-muted float-right"><small>Updated: {{comment.modified_at}}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
</div>
{% endblock %}
